<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button (click)="simpleGet()">GET HSTORY </button>
<button (click)="getTest()">TEST</button>
<button (click)="post()">POST</button>

<div>
GET response:
<span *ngIf="person" >{{person.name}} {{person.age}}</span>
</div>
<div *ngIf="people">
 get array response:
<span  *ngFor="let perosn of people">{{person.name}} {{person.age}}</span>
</div>

<div>
  Messages

  <div *ngFor="let msg of messages">
   Reciver Id: {{msg.receiverId}} <br>
    Sender Id:{{msg.senderId}}<br>
   Sender Name: {{msg.senderName}}<br>
    Message: {{msg.message}}<br>
  </div>
  <br>
</div>




<router-outlet></router-outlet>
